<!DOCTYPE html>
<html>
  <head>
    <title>Shoe store</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <link href="<%= url('/../css/styles.css') %>" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
